@import url(reset.css);
@import url(clock.css);
@import url(login-form.css);
@import url(greeting.css);
@import url(quote-box.css);
@import url(todo.css);

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("file:///C:/Users/%EB%B3%B8%EB%B6%80/Documents/GitHub/Vanilajs/img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
}

.momentum__main-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
}

.momentum__right-column {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.momentum__left-column {
  width: 25%;
}
