html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vh;
  height: 100vh;
  background-image: url("file:///C:/Users/%EB%B3%B8%EB%B6%80/Documents/GitHub/Vanilajs/img/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
}

.momentum__main-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  color: white;
  font-size: 10vmin;
  font-weight: 300;
  margin-bottom: 70px;
}

.login-form {
  display: flex;
  align-items: center;
}

.login-form input {
  outline: none;
  border: none;
  text-align: center;
  font-size: 7vmin;
  color: white;
  font-weight: 100;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom 0.4s ease-in;
}

.login-form input:focus {
  border-bottom: 2px solid white;
}

.login-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.login-form input::placeholder {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: all 0.2s ease-out;
}

.login-form button {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  display: none;
}
.greeting {
  outline: none;
  margin: 0px;
  text-align: center;
  font-size: 7vmin;
  color: white;
  font-weight: 100;
  transition: all 0.2s ease-out;
}

.hidden {
  display: none;
}

.quote-box {
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 5vw;
  left: 5vw;
}

.quote,
.author {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 100%;
}

.quote {
  font-weight: 100;
  position: relative;
  top: 7px;
}

.author {
  opacity: 0;
  font-weight: 500;
  position: relative;
  bottom: 3px;
}

.quote-box:hover .quote {
  transform: translateY(-10px);
}
.quote-box:hover .author {
  opacity: 1;
  transform: translateY(6px);
}

.todo-list li {
  color: white;
}

.todo-list span {
  color: white;
}
